@import "tailwindcss";

/* 1. Habilitamos el modo oscuro por clase para Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Animación de la cinta infinita (Marquee) */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* 3. Optimización para GSAP */
.will-change-transform {
  will-change: transform;
}